body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  /*Animation ease-in-out*/
  transition: 150ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 150ms;
  -webkit-transition-timing-function: ease-in-out;
}

header:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0px 10px 17px rgba(0, 0, 0, .3);
}

#option-bar {
  height: 100%;
  max-width: 900px;
  width: 80%;
  margin: auto;
  /*border: 1px solid red;*/
  padding: 0;
}

#logo {
  height:auto;
  width: 170px;
  float: left;
  /*border: 1px solid red;*/
}


#header_controls {
  height: 100%;
  width: auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}
#header_controls a, #header_controls p {
  /*border: 1px solid red;*/
  list-style-type: none;
  display: inline-block;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 30px;
  text-decoration: none;
  font-size: 1em;
  color: #FFF;

  /*Animation ease-in-out*/
  transition: 100ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 100ms;
  -webkit-transition-timing-function: ease-in-out;

  /*Unselectable*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

header:hover #header_controls a, header:hover #header_controls p {
  color: #999;
}

header:hover #header_controls a:hover {
  color: #081D4A;
}

#cnv_holder {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: linear-gradient(150deg, #211833 0%,#0e2a5f 33%,#4c3b8b 100%);
  background: -webkit-linear-gradient(-30deg, #211833 0%,#0e2a5f 33%,#4c3b8b 100%);
  background: -moz-linear-gradient(-30, #211833 0%, #0e2a5f 33%, #4c3b8b 100%);
}

#course_synopsis {
  max-width: 900px;
  width: 80%;
  height: 95%;
  background: linear-gradient(150deg, #211833 0%,#0e2a5f 33%,#4c3b8b 100%);
  background: -webkit-linear-gradient(-30deg, #211833 0%,#0e2a5f 33%,#4c3b8b 100%);
  background: -moz-linear-gradient(-30, #211833 0%, #0e2a5f 33%, #4c3b8b 100%);
  border-radius: 6px;
  z-index: 1;
  margin: auto;
  margin-top: 8vh;
  margin-bottom: 5vh;
  box-shadow: -1px 10px 20px rgba(0, 0, 0, .5);
}
